# Kiana Dane
## 06/24/2024

# Lab Assignment 2: How to Load CSV, ASCII, and other data into Python
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

There are 11 data files attached to this lab assignment, with different extensions. First, download all of these data files, and save them in the same folder on your local machine. Your task in the following questions is to load each file into Python correctly, so that you can begin the process of data cleaning. If the variable names are included in the file, use those names to name the columns. If the variable names are not included, use these names in order:

In [90]:
column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low", 
  "Dystopia (1.92) + residual", "Explained by: GDP per capita", 
  "Explained by: Social support", "Explained by: Healthy life expectancy", 
  "Explained by: Freedom to make life choices", "Explained by: Generosity", 
  "Explained by: Perceptions of corruption" ]

If you loaded the data correctly, it will look like `data_clean.csv`, which is also attached to this lab.

## Problem 0
Import the libraries you will need. Then write code to change the working directory to the folder in which you saved the data files, run the code displayed above to create the `column_names` list, load `data_clean.csv`, and display the output of the `.info()` method of `data_clean`. (1 point)

In [91]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.2.7)
Requirement already satisfied: pandas>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/kianadane/Library/Python/3.12/lib/python/site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/kianadane/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [92]:
import pandas as pd
import numpy as np
import os
import sys
sys.tracebacklimit = 0

os.chdir("/Users/kianadane/Documents/GitHub/ds6001/Mod_2")

column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low", 
  "Dystopia (1.92) + residual", "Explained by: GDP per capita", 
  "Explained by: Social support", "Explained by: Healthy life expectancy", 
  "Explained by: Freedom to make life choices", "Explained by: Generosity", 
  "Explained by: Perceptions of corruption" ]

data_clean = pd.read_csv('data_clean.csv')
data_clean.info()
os.getcwd()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

'/Users/kianadane/Documents/GitHub/ds6001/Mod_2'

## Problem 1
Load `data1.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [93]:
data1 = pd.read_csv('data1.csv')

In [94]:
 data1.head(3)

,"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
2,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393

In [95]:
data1 = pd.read_csv('data1.csv', header = 2)
data1.head(3)

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41

 #### - In this file, I noticed that the first 2 rows of data are a header (they show data source and url). 
 #### - To fix this, I set the header parameter of pd.read_csv to 2 in order to display row 2 as the column headers instead.

## Problem 2
Load `data2.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [96]:
data2 = pd.read_csv('data2.txt')
data2.head(5)

,"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
2,"/The following countries comprise the ""very ha...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
4,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340

In [97]:
data2 = pd.read_csv('data2.txt', header = 2, comment = '/') 
data2

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

#### - In this file, row 2 contains data in only one column and it is a note/comment, not usable data. 
#### - In order to ignore this comment, I set the comment parameter in pd.read_csv to ignore comments preceded by the character '/'. 
#### - I also leave the header parameter set to 2 from Task 1.

## Problem 3
Load `data3.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [98]:
data3 = pd.read_csv('data3.txt')
data3.head(5)

  Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)\t\t\t\t\t\t\t\t\t\t
0  URL: http://worldhappiness.report/ed/2018\t\t\...
1  Country\tHappiness score\tWhisker-high\tWhiske...
2  Finland\t7.632\t7.695\t7.569\t2.595\t1.305\t1....
3  Norway\t7.594\t7.657\t7.53\t2.383\t1.456\t1.58...
4  Denmark\t7.555\t7.623\t7.487\t2.37\t1.351\t1.5...

In [99]:
data3 = pd.read_csv('data3.txt', sep = '\t', header = 1, skiprows = 2, names = column_names)

In [100]:
data3

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
1,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
2,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
3,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
4,Netherlands,7.44,7.50,7.38,2.45,1.36,1.49,0.88,0.64,0.33,0.29
...,...,...,...,...,...,...,...,...,...,...,...
150,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
151,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
152,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
153,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
154,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

#### - In this file, there is only one column containing data that needs to be delimited. 
#### - I notice that the separator is '\t', and use that to set the sep parameter of pd.read_csv. 
#### - Like the last two files, the first 2 rows were skipped. 
#### - After that, the column headers had been delimited as values rather than headers. 
#### - So I set the header parameter of pd.read_csv to 1, and then manually set the column names to my predefined list to clean the table up.

## Problem 4
Load `data4.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [101]:
data4 = pd.read_csv('data4.txt')
data4.head(5)

  Finland$7.632$7.695$7.569$2.595$1.305$1.592$0.874$0.681$0.192$0.393
0  Norway$7.594$7.657$7.530$2.383$1.456$1.582$0.8...
1  Denmark$7.555$7.623$7.487$2.370$1.351$1.590$0....
2  Iceland$7.495$7.593$7.398$2.426$1.343$1.644$0....
3  Switzerland$7.487$7.570$7.405$2.320$1.420$1.54...
4  Netherlands$7.441$7.498$7.384$2.448$1.361$1.48...

In [102]:
data4 = pd.read_csv('data4.txt', header = None, sep = '$', names = column_names)
data4

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

#### - Similar to the problem above, the data only contains one column.
#### - The data seems to be delimited by '$'.
#### - The data does not contain headers, so I add them.

## Problem 5
Load `data5.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [103]:
data5 = pd.read_csv('data5.csv')
data5

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08
156,"Source: The World Happiness Report (2018), The...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
data5 = data5.iloc[:-2]
data5

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

#### - In this data file, I notice the two rows we usually omit from the header are now at the tail end of the data frame. 
#### - To fix this, I redefine the data frame with the iloc function to omit the last two rows.

## Problem 6
Load `data6.dat`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [105]:
data6 = pd.read_csv('data6.dat')
data6.all

<bound method DataFrame.all of                       Country  Happiness score  Whisker-high  Whisker-low  \
0                     Finland             7.63          7.70         7.57
1                      Norway             7.59          7.66         7.53
2                     Denmark             7.55          7.62         7.49
3                     Iceland             7.50          7.59       999.00
4                 Switzerland             7.49          7.57         7.41
..                        ...              ...           ...          ...
151                       999             3.35          3.45         3.26
152                  Tanzania           999.00        999.00         3.19
153               South Sudan             3.25        999.00         3.12
154  Central African Republic             3.08          3.23         2.94
155                   Burundi             2.90          3.07       999.00

     Dystopia (1.92) + residual  Explained by: GDP per capita  \
0                          2.60                        999.00
1                        999.00                        999.00
2                          2.37                          1.35
3                          2.43                          1.34
4                          2.32                          1.42
..                          ...                           ...
151                        1.11                          0.44
152                        0.63                        999.00
153                        1.69                          0.34
154                        2.49                          0.02
155                        1.75                          0.09

     Explained by: Social support  Explained by: Healthy life expectancy  \
0                          999.00                                 999.00
1                            1.58                                 999.00
2                            1.59                                 999.00
3                            1.64                                   0.91
4                            1.55                                   0.93
..                            ...                                    ...
151                          1.07                                   0.34
152                          0.99                                   0.38
153                        999.00                                   0.18
154                          0.00                                   0.01
155                        999.00                                   0.14

     Explained by: Freedom to make life choices  Explained by: Generosity  \
0                                          0.68                      0.19
1                                          0.69                      0.29
2                                          0.68                      0.28
3                                          0.68                      0.35
4                                          0.66                      0.26
..                                          ...                       ...
151                                        0.24                    999.00
152                                        0.48                      0.27
153                                        0.11                      0.22
154                                        0.30                    999.00
155                                        0.07                      0.15

     Explained by: Perceptions of corruption
0                                       0.39
1                                       0.34
2                                       0.41
3                                     999.00
4                                       0.36
..                                       ...
151                                     0.06
152                                     0.10
153                                     0.11
154                                     0.04
155                                     0.08

[156 rows x 11 columns]>

In [106]:
data6 = pd.read_csv('data6.dat', na_values = 999)
data6.all

<bound method DataFrame.all of                       Country  Happiness score  Whisker-high  Whisker-low  \
0                     Finland             7.63          7.70         7.57
1                      Norway             7.59          7.66         7.53
2                     Denmark             7.55          7.62         7.49
3                     Iceland             7.50          7.59          NaN
4                 Switzerland             7.49          7.57         7.41
..                        ...              ...           ...          ...
151                       NaN             3.35          3.45         3.26
152                  Tanzania              NaN           NaN         3.19
153               South Sudan             3.25           NaN         3.12
154  Central African Republic             3.08          3.23         2.94
155                   Burundi             2.90          3.07          NaN

     Dystopia (1.92) + residual  Explained by: GDP per capita  \
0                          2.60                           NaN
1                           NaN                           NaN
2                          2.37                          1.35
3                          2.43                          1.34
4                          2.32                          1.42
..                          ...                           ...
151                        1.11                          0.44
152                        0.63                           NaN
153                        1.69                          0.34
154                        2.49                          0.02
155                        1.75                          0.09

     Explained by: Social support  Explained by: Healthy life expectancy  \
0                             NaN                                    NaN
1                            1.58                                    NaN
2                            1.59                                    NaN
3                            1.64                                   0.91
4                            1.55                                   0.93
..                            ...                                    ...
151                          1.07                                   0.34
152                          0.99                                   0.38
153                           NaN                                   0.18
154                          0.00                                   0.01
155                           NaN                                   0.14

     Explained by: Freedom to make life choices  Explained by: Generosity  \
0                                          0.68                      0.19
1                                          0.69                      0.29
2                                          0.68                      0.28
3                                          0.68                      0.35
4                                          0.66                      0.26
..                                          ...                       ...
151                                        0.24                       NaN
152                                        0.48                      0.27
153                                        0.11                      0.22
154                                        0.30                       NaN
155                                        0.07                      0.15

     Explained by: Perceptions of corruption
0                                       0.39
1                                       0.34
2                                       0.41
3                                        NaN
4                                       0.36
..                                       ...
151                                     0.06
152                                     0.10
153                                     0.11
154                                     0.04
155                                     0.08

[156 rows x 11 columns]>

#### - In this file, I noticed there were several values showing as 999, which are indicating missing values and will surely thwart any attempts to perform accurate calculations on this data. 
#### - I set the na_values parameter in pd.read_csv to '999' changing all these values to null.

## Problem 7
Load `data7.xlsx`, which is an Excel file. Keep only the sheet named “Data”. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

In [107]:
data7 = pd.read_excel('data7.xlsx', sheet_name = 'Data')
data7.all

<bound method DataFrame.all of                       Country  Happiness score  Whisker-high  Whisker-low  \
0                     Finland             7.63          7.70         7.57
1                      Norway             7.59          7.66         7.53
2                     Denmark             7.55          7.62         7.49
3                     Iceland             7.50          7.59         7.40
4                 Switzerland             7.49          7.57         7.41
..                        ...              ...           ...          ...
151                     Yemen             3.35          3.45         3.26
152                  Tanzania             3.30          3.41         3.19
153               South Sudan             3.25          3.38         3.12
154  Central African Republic             3.08          3.23         2.94
155                   Burundi             2.90          3.07         2.73

     Dystopia (1.92) + residual  Explained by: GDP per capita  \
0                          2.60                          1.30
1                          2.38                          1.46
2                          2.37                          1.35
3                          2.43                          1.34
4                          2.32                          1.42
..                          ...                           ...
151                        1.11                          0.44
152                        0.63                          0.46
153                        1.69                          0.34
154                        2.49                          0.02
155                        1.75                          0.09

     Explained by: Social support  Explained by: Healthy life expectancy  \
0                            1.59                                   0.87
1                            1.58                                   0.86
2                            1.59                                   0.87
3                            1.64                                   0.91
4                            1.55                                   0.93
..                            ...                                    ...
151                          1.07                                   0.34
152                          0.99                                   0.38
153                          0.61                                   0.18
154                          0.00                                   0.01
155                          0.63                                   0.14

     Explained by: Freedom to make life choices  Explained by: Generosity  \
0                                          0.68                      0.19
1                                          0.69                      0.29
2                                          0.68                      0.28
3                                          0.68                      0.35
4                                          0.66                      0.26
..                                          ...                       ...
151                                        0.24                      0.08
152                                        0.48                      0.27
153                                        0.11                      0.22
154                                        0.30                      0.22
155                                        0.07                      0.15

     Explained by: Perceptions of corruption
0                                       0.39
1                                       0.34
2                                       0.41
3                                       0.14
4                                       0.36
..                                       ...
151                                     0.06
152                                     0.10
153                                     0.11
154                                     0.04
155                                     0.08

[156 rows x 11 columns]>

#### - For this file, I used the parameter 'sheet_name' inside pd.read_excel() to keep only the sheet called 'Data'. 
#### - With this, it appears the data file loads correctly.

## Problem 8
Load `data8.dta`, which is a Stata 13 file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

In [108]:
data8 = pd.read_stata('data8.dta')
data8

,country,happinessscore,whiskerhigh,whiskerlow,dystopia192residual,explainedbygdppercapita,explainedbysocialsupport,explainedbyhealthylifeexpectancy,explainedbyfreedomtomakelifechoi,explainedbygenerosity,explainedbyperceptionsofcorrupti
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.49,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.36,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.31,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.06,0.15,0.08

In [109]:
data8 = pd.read_stata('data8.dta', columns = None)
stata8 = pd.DataFrame(data8)
stata8.columns = column_names
stata8
data8 = stata8
data8

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.49,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.36,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.31,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.06,0.15,0.08

#### - For this file, I used pd.read_stata to read the file and set the columns parameter to None to return all columns.
#### - I created a pandas dataframe with the file and changed the column names to our list column_names.

## Problem 9
Load `data9.sav`, which is an SPSS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

In [110]:
data9 = pd.read_spss('data9.sav')
data9

,country,happiness,whiskerhigh,whiskerlow,dystopia,gdpPC,socsupport,lifeexp,lifechoice,generous,corrupt
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

In [111]:
data9.columns = column_names
data9

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

#### - For this file, I used pd.read_spss() to read the file.
#### - I noticed the headers were not separated by word, so I renamed the columns with our column_names list.

## Problem 10
Load `data10.xpt`, which is a SAS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (If some of the country names display as `b'Finland'`, don't worry aout that.) (2 points)

In [112]:
pd.set_option('display.float_format', '{:.2f}'.format)

data10 = pd.read_sas('data10.xpt')


data10

,COUNTRY,HAPPINES,WHISKERH,WHISKERL,DYSTOPIA,EXPLAINE,EXPLAIN2,EXPLAIN3,EXPLAIN4,EXPLAIN5,EXPLAIN6
0,b'Finland',7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,b'Norway',7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,b'Denmark',7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,b'Iceland',7.49,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,b'Switzerland',7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,b'Yemen',3.36,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,b'Tanzania',3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,b'South Sudan',3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,b'Central African Republic',3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.31,0.22,0.04
155,b'Burundi',2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.06,0.15,0.08

In [113]:
data10.columns = column_names
data10

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,b'Finland',7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,b'Norway',7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,b'Denmark',7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,b'Iceland',7.49,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,b'Switzerland',7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,b'Yemen',3.36,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,b'Tanzania',3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,b'South Sudan',3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,b'Central African Republic',3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.31,0.22,0.04
155,b'Burundi',2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.06,0.15,0.08

#### - For this file, I noticed the column names were not as descriptive as the names in our column_list, so I replaced those.
#### - I noticed one of the columns had data appearing in scientific notation format. I set my display option in pandas to float_format with 2 decimal places {:.2f}.

## Problem 11
Please load the `data11.txt` file, which is a fixed width file. The columns are defined as follows:

| Variable                                   | Width | Start | End |
|--------------------------------------------|-------|-------|-----|
| Country                                    | 24    | 1     | 24  |
| Happiness score                            | 5     | 25    | 29  |
| Whisker-high                               | 5     | 30    | 34  |
| Whisker-low                                | 5     | 35    | 39  |
| Dystopia (1.92) + residual                 | 5     | 40    | 44  |
| Explained by: GDP per capita               | 5     | 45    | 49  |
| Explained by: Social support               | 5     | 50    | 54  |
| Explained by: Healthy life expectancy      | 5     | 55    | 59  |
| Explained by: Freedom to make life choices | 5     | 60    | 64  |
| Explained by: Generosity                   | 5     | 65    | 69  |
| Explained by: Perceptions of corruption    | 5     | 70    | 74  |

Then save the this loaded data frame as a CSV file on your local machine. Be sure to use a unique filename so as not to overwrite any existing files. (5 points)

In [114]:
datawidths = [24, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
data11 = pd.read_fwf('data11.txt', widths = datawidths, header = None, names = column_names)
data11

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.63,7.70,7.57,2.60,1.30,1.59,0.87,0.68,0.19,0.39
1,Norway,7.59,7.66,7.53,2.38,1.46,1.58,0.86,0.69,0.29,0.34
2,Denmark,7.55,7.62,7.49,2.37,1.35,1.59,0.87,0.68,0.28,0.41
3,Iceland,7.50,7.59,7.40,2.43,1.34,1.64,0.91,0.68,0.35,0.14
4,Switzerland,7.49,7.57,7.41,2.32,1.42,1.55,0.93,0.66,0.26,0.36
...,...,...,...,...,...,...,...,...,...,...,...
151,Yemen,3.35,3.45,3.26,1.11,0.44,1.07,0.34,0.24,0.08,0.06
152,Tanzania,3.30,3.41,3.19,0.63,0.46,0.99,0.38,0.48,0.27,0.10
153,South Sudan,3.25,3.38,3.12,1.69,0.34,0.61,0.18,0.11,0.22,0.11
154,Central African Republic,3.08,3.23,2.94,2.49,0.02,0.00,0.01,0.30,0.22,0.04
155,Burundi,2.90,3.07,2.73,1.75,0.09,0.63,0.14,0.07,0.15,0.08

#### - For this data file, I knew I'd have to use pd.read_fwf to read the file, and I'd need to specify my widths according to the given table.
#### - After creating a list of widths from the given table, I called that list in the widths parameter of pd.read_fwf.
#### - I replaced the column headers with our column_names list with the names parameter.